@import './_vars';

.footer {
    padding: 10px 90px;
    width: 100%;
    height: 90px;
    background-color: $black-200;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__author {
        color: #f2f2f2;
        font-weight: 300;
        font-size: .875rem;

        a {
            font-size: .9375rem;
            margin-left: 8px;
            color: #BB131A;
            text-decoration: none;
            font-weight: 500;
            transition: .8s;

            &:hover {
                color: #693637;
            }
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    @media (max-width: 600px) {
        justify-content: center;
    }
}