.container {
  width: 65%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  margin: 190px auto;
  padding: 12px;

  &__title {
    color: #AAAAAA;
    font-size: clamp(1.1rem, 4vw, 3rem);
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    background-color: #f2f2f2;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  &__subtitle {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 500;
  }

  &__prevText {
    opacity: .7 ;
    font-weight: 400;
  }

  &__subtitle, &__prevText {
    text-align: justify;
  }

  &__link {
    background-color: #BB131A;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
    
  }
}