.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  &__title {
    color: #d1d1d1;
    font-size: clamp(1.1rem, 4vw, 2rem);
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: clamp(0.875rem, 4vw, 1rem);
    color: #AAAAAA;
    margin-top: 18px;
  }

  &__list {
    list-style: none;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: clamp(0.875rem, 4vw, 1rem);
  }

  &__item {
    background-color: #f2f2f2;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  &__titlepost {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 500;
  }

  &__prevText {
    opacity: .7;
    font-weight: 400;
  }

  &__subtitle,
  &__prevText {
    text-align: justify;
  }

  &__link {
    background-color: #BB131A;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;

  }
}

.spaceProps {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 190px auto 90px auto;
  padding: 12px;

  article {
    color: #fff;
  }

  @media(max-width: 1650px) {
    width: 70%;
  }

  @media(max-width: 1488px) {
    width: 80%;
  }

  @media(max-width: 600px) {
    width: 90%;
    margin: 160px auto 90px auto;
  }

  @media(max-width: 375px) {
    width: 98%;
  }
}