@import "./_vars";

.nav {
  a {
    text-decoration: none;
    font-weight: 500;
  }

  width: 100%;
  height: 110px;
  background-color: $black-200;
  position: fixed;
  top: -1px;
  z-index: 99999;
  @include d-flex(row, center, space-between);
  padding: 10px 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);

  &__title {
    font-size: clamp(1rem, 4vw, 2rem);
    color: $basic-100;
    text-transform: uppercase;
    font-weight: 300;

    strong {
      font-weight: 700;
      color: $red-400;
    }

    &::before {
      content: ".";
      color: $red-400;
      font-size: clamp(1rem, 4vw, 3rem);
    }
  }

  &__container {
    @include d-flex(row, center, center);
    gap: 24px;

    @media (max-width: 730px) {
      display: none;
    }
  }

  &__menuActive {
    position: fixed;
    right: 0;
    width: 55%;
    height: calc(100vh - 108px);
    top: 108px;
    background-color: $black-400;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 600px) {
      padding: 45px 20px;
    }
  }

  &__containetLinkHamburg {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    font-size: 1rem;
    color: $basic-200;
    font-weight: 400;
    transition: 0.8;

    &:hover {
      color: #bb131a;
    }
  }

  &__line {
    border: none;

    width: 80%;
    height: 1px;
    margin: 10px 0;
    background-color: $basic-600;
    &-disabled {
      display: none;
    }
  }

  &__linkSocial {
    display: block;

    ul {
      list-style: none;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: 18px;
    }
  }

  svg {
    color: #f2f2f2;
    width: 25px;
    height: 22px;
    display: none;

    @media (max-width: 730px) {
      display: block;
    }
  }

  @media (max-width: 540px) {
    padding: 10px 20px;
  }
}

.menu {
  color: #f2f2f2;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 22px;
  cursor: pointer; /* Adicione um cursor para indicar que o ícone é clicável */
  display: none;

  @media (max-width: 730px) {
    display: block;
  }
}

.disabled {
  display: none;
}
